.main {
  padding: 20px;
}
.spinner {
  display: flex;
  justify-content: center;
}
.search__input, #bread {
  margin-bottom: 20px;
}
.text_marginRight {
  margin-right: 10px;
}
.sort__text {
  margin-bottom: 20px;
}
.sort__text_title {
  margin-right: 10px;
}
.sort__icon {
  margin-left: 10px;
}
.sort__menu {
  width: 200px;
}
